{% load bootstrap3 %}
{% load staticfiles %}
{% load compile_static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{{ SITE_TITLE }}</title>
        {% block _css %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{{ STATIC_URL}}{% compile "less/main.less" %}" />
        {% endblock _css %}  
    </head>
    <body>
    {% block _nav %}
    {% include 'inc/nav.html' %}
    {% endblock _nav %}
    {% block _body %}
    {% endblock _body %}
    {% block _footer %}
        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-right">StarLine database</p>
            </div>
        </footer>
    {% endblock _footer %}
    {% block _js %}
    {% bootstrap_javascript jquery=1 %}
    <script src="{% static 'js/core.js' %}"></script>
    {% endblock _js %}
    </body>
</html>
