{% extends 'page/base.html' %}

{% block _body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Parametry</div>
                    <div class="panel-body">Jezis</div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="panel panel-default">
                    ???
                </div>
            </div>
        </div>
    </div>
{% endblock _body %}
